/* Theme Colors */
.primary-color{
    -fx-background-color: #3333ff;
}

.secondary-color{
    -fx-background-color: #2d2d2d;
}

.background-gradient{
    -fx-background-color: 
        linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
    
}
/* END Theme Colors */

/* Text Styling*/

.medium-label-text{
    -fx-font-size: 14pt;
    -fx-font-family: Consolas;
    -fx-text-fill: #3333ff;
}

.large-label-text{
    -fx-font-size: 16pt;
    -fx-font-family: Consolas;
    -fx-text-fill: #3333ff;
}

/* END Text Styling */


/* Interface Buttons */
#new-button{
    -fx-graphic: url("/res/new.png") ;
}

#open-button{
    -fx-graphic: url("/res/open.png") ;
}

#save-button{
    -fx-graphic: url("/res/save.png") ;
}

#export-button{
    -fx-graphic: url("/res/export.png") ;
}

#exit-button{
    -fx-graphic: url("/res/exit.png") ;
}
/* END Interface Buttons */

/* Screen Toolbar Buttons */
#teams-button{
    -fx-graphic: url("/res/teams.png") ;
}

#players-button{
    -fx-graphic: url("/res/players.png") ;
}

#standings-button{
    -fx-graphic: url("/res/standings.png") ;
}

#draft-button{
    -fx-graphic: url("/res/draft.png") ;
}

#mlb-teams-button{
    -fx-graphic: url("/res/mlb-teams.png") ;
}
/* END Screen Toolbar Buttons */

/* Player Screen Buttons */
#add-button{
    -fx-graphic: url("/res/add.png") ;
}

#remove-button{
    -fx-graphic: url("/res/remove.png") ;
}

#edit-button{
    -fx-graphic: url("/res/edit.png");
}

/* END Player Screen Buttons */

